/* Pokemon colors: http://pokepalettes.com/#raichu */
/* 
Raichu color scheme 

Off white - #ffeed5
Salmony - #de7b31
Dark gold - #8b6210

Feel free to grab more if we need additional colors
*/

.sidenav {
  padding: 20px 0;
  position: fixed;
}

.sidenav a {
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #de7b31;
  display: block;
}

.sidenav a:hover {
  color: #8b6210;
  font-weight: bold;
  text-decoration: none;
}

.pokelist {
  margin: 0 !important;
}